@mixin ico-size {
  width: 30px;
}

.landing-tagline {
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 150px;
  margin-top: 100px;

  &:hover {
    cursor: default;
  }

  .landing-text-section {
    @include margin();
  }
}

.landing-grid-img {
  @include ico-size();
  margin-bottom: 20px;
  background-color: $primary-bg;
  padding: 15px;
  border-radius: 25px;
}

.landing-grid-con {

  @include margin();
  display: flex;
  margin-bottom: 100px;
  text-align: center;

  background-color: rgb(238, 232, 226);
  padding-top: 20px;
  padding-bottom: 20px;;

  gap: 30px;
}

.landing-grid-text {
  word-wrap: break-word;
  font-size: 14px;
}

.landing-grid-title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.landing-grid-line {
  margin-top: 20px;
  background-color: $primary-bg;
  width: 400px;
  height: 15px;
}

.love {
  margin-bottom: 0;
}

.landing-text-tagline {
  @include margin();
  margin-top: 20px;
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 20px;
  text-align: center;
}

.landing-text-btn {
  background-color: $primary-bg;
  font-family: $primary-font;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.8s;

  &:hover {
    cursor: pointer;
    background-color: black;
    border: 1px solid $primary-bg;
    color: $primary-bg;
  }

  &:active {
    opacity: 0.8;
  }
}

.landing-text-flex {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.landing-text-image {
  width: 250px;
  border-radius: 20px
}

.landing-text-carousel-con {
  @include margin();
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;

}

.landing-text-mission-con {
  @include margin();
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.celebrate {
  margin-top: 0;
}

