* {
  margin: 0;
  padding: 0;
}

body, button, a {
  font-family: Roboto Condensed, sans-serif;
}


.header-section {
  background-color: black;
  color: white;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-brand-img {
  display: flex;
}

.header-img {
  display: flex;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.header-imagefile {
  height: 50px;
  padding: 10px;
}

.header-brand-name {
  align-items: center;
  align-self: center;
  display: block;
  font-size: 20px; 
}

.header-links-navigation {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 35px;
  font-size: 14px;
  margin-right: 40%;
  font-weight: 100;
}

.header-link-button {
  font-size: 14px;
  height: 40px;
  width: 130px;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #FFD2A4;
  margin-right: 5%;
  transition: background-color 0.8s;
}

.header-link-button:hover {
  background-color: black;
  color: #FFD2A4;
  border: 1px solid #FFD2A4;
  cursor: pointer;
}

.header-links {
  transition: font-weight 0.8s, opacity 0.8s;
}

.header-links:hover {
  font-weight: normal;
  cursor: pointer;
}

.header-imagefile:hover, .header-brand-name:hover {
  cursor: pointer;
}

.header-brand-name:active {
  opacity: 0.8;
}


.landing-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  text-align: left;
}

.landing-overlay-con {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.landing-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
}


.landing-text-span {
  color: white;
  position: absolute;
  z-index: 2;
  top: 40%;
  margin-left: 5%;
}

.landing-text-h1 {
  position: absolute;
  color: white;
  margin-left: 5%;
  z-index: 2;
  top: 45%;
  font-size: 48px;
  word-break: break-all;
  word-wrap: break-word;
  font-weight: bold;
}

.landing-button {
  position: absolute;
  z-index: 2;
  margin-left: 5%;
  top: 72%;
  border: none;
  padding: 15px 25px;
  background-color: #FFD2A4;
  border-radius: 10px;
  transition: background-color 0.8s;
}

.landing-button:hover {
  background-color: black;
  color:#FFD2A4;
  border: 1px solid #FFD2A4;
  cursor: pointer;
}

.landing-button:active {
  opacity: 0.8;
}

.landing-undertext-con {
  display: flex;
  flex-direction: row;

  position: absolute;
  z-index: 2;
  margin-left: 5%;
  top: 90%;
  color: white;
  gap: 20px;
}

.landing-dash {
  width: 15px;
  height: 2px;
  background-color: #FFD2A4;
}

.landing-tagline {
  text-transform: uppercase;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 150px;
}

.landing-text-section {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 120px;
}
