@import "tailwindcss";

body {
  overflow-x: hidden;
}

.header-navigational-link-con {
  @apply absolute top-0 left-0 my-2 mx-[57%] flex gap-8 text-white py-4 text-sm;

  @apply xl:mx-210 lg:mx-180 lg:mt-3.5 md:overflow-x-hidden
}

.header-navigational-link {
  @apply hover:text-orange-200;
  

  @apply xl:text-lg;
}

.header-navigational-button {
  @apply mx-8 my-[-10px] bg-transparent border px-7 py-1 rounded-2xl
  hover:cursor-pointer ease-linear;
}

.header-image {
  @apply w-14
  hover:cursor-pointer
  active:opacity-50;
}

.landing-text-center-con {
  @apply absolute top-0 text-center flex flex-col items-center justify-center text-white;
  @apply left-1/2 transform -translate-x-1/2;
  
  /* Responsive margin */
  @apply mt-[30%] sm:mt-[25%] md:mt-[30%] md:mx-14 lg:mt-[15%] lg:mx-25 xl:mt-[17%] xl:mx-0;
  
  /* Responsive width */
  @apply w-[90%] sm:w-[80%] md:w-[650%] lg:w-[50%] xl:w-[50%];
}

.landing-text-one {
  @apply text-2xl sm:text-3xl md:text-5xl font-bold;
  
  /* Text size */
  @apply xl:text-[50px] lg:text-[40px] md:text-[35px] sm:text-xl;
  
  /* Spacing */
  @apply lg:mt-12 md:mt-[-50px] sm:mt-[-20px];
}

.landing-text-two {
  @apply italic text-sm sm:text-base md:text-lg;
  @apply pt-8 sm:pt-3 md:pt-3 lg:pt-5 xl:pt-6;
}

.landing-text-button {
  @apply my-8 px-9 py-2.5 rounded-2xl border border-white text-white
  hover:bg-orange-300 hover:border-0 hover:text-black transition-all hover:cursor-pointer active:opacity-50;
}

.landing-image-con {
  @apply w-full overflow-hidden;
  
  /* Container height control */
  @apply h-64 xl:h-screen xl:w-screen lg:h-[560px] lg:w-[1200px] md:h-[450px] md:w-[900px];
}

.landing-img {
  @apply w-full h-full object-cover;
  @apply min-h-[200px] object-center;
}